* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e5eeee;
}

.container {
  position: relative;
  width: 500px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .96;
  background: #3023ae;
  background: -webkit-linear-gradient(32deg, #3023ae 0%, #c86dd7 100%);
  background: -o-linear-gradient(32deg, #3023ae 0%, #c86dd7 100%);
  background: linear-gradient(58deg, #3023ae 0%, #c86dd7 100%);
  -webkit-box-shadow: 0px 13px 34px -13px #022978;
  -moz-box-shadow: 0px 13px 34px -13px #022978;
  box-shadow: 0px 13px 34px -13px #022978;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px 70px;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
}

.account {
  margin-bottom: 2rem;
}

.account button {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  padding-bottom: .5rem;
  margin-right: 1.85rem;
}

.account button:hover {
  border-bottom: 2px solid #e66a64;
}

.account button.current {
  border-bottom: 2px solid #e66a64;
}

.restore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.restore button {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 0.85rem;
  color: #918dc1;
  background: none;
  border: none;
  outline: none;
  padding-bottom: .5rem;
  border-bottom: 1px solid #918dc1;
}

.restore button:hover {
  border-bottom: 1px solid #e66a64;
}

/* Forms */
form.join-us {
  display: none;
}

input {
  width: 100%;
  background: none;
  border: 2px solid #8e7dc3;
  font-size: 1rem;
  padding: .5rem;
  margin-top: .5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #8e7dc3;
  outline: none;
}

input:focus {
  border: 2px solid #e66a64;
}

input[type="submit"] {
  background-color: #23ae92;
  color: #fff;
  width: 100%;
  border: none;
  padding: 1rem 0;
}

input[type="checkbox"] {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #23ae92;
  color: #fff;
}

.input--field {
  margin-bottom: 2rem;
}

.input--field__signed {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.input--field__signed input:checked ~ .checkmark:after {
  display: block;
}

.input--field__signed .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input--checkbox {
  cursor: pointer;
}

.input--checkbox input {
  position: absolute;
  opacity: 0;
  height: 20px;
  width: 20px;
}

.input--checkbox span {
  display: block;
}

.input--checkbox .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #23ae92;
}

.input--checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 1px;
  left: 7px;
}

.input--alert, .input--alert__email, .input--alert__pass, .input--alert__passRepeat, .input--alert__joinEmail, .input--alert__joinPass, .input--alert__joinPassRepeat {
  position: absolute;
  color: #e66a64;
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
  font-weight: 300;
}

label {
  display: block;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */